* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f4f4), to(#e6e8e8));
  background-image: linear-gradient(#f2f4f4, #e6e8e8);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: transparent;
  width: 100%;
  z-index: 9;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .container::after {
  content: "";
  width: 100%;
  height: 2px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(white), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  z-index: 10;
}

.header .container h1 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0px;
  padding: 20px 0;
}

@media (max-width: 767.98px) {
  .header .container h1 {
    color: #fff;
  }
}

.header .container .nav__btn {
  display: none;
  color: #333;
}

@media (max-width: 767.98px) {
  .header .container .nav__btn {
    display: block;
    position: absolute;
    top: 0;
    left: calc(100% - 40px);
    z-index: 10;
    color: #fff;
  }
}

.header .container nav .navbar .navbar__container .navbar__link {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 35px;
  z-index: 10;
}

.header .container nav .navbar .navbar__container .navbar__link:hover, .header .container nav .navbar .navbar__container .navbar__link.active {
  color: #38729f;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .header .container nav .navbar .navbar__container .navbar__link {
    color: #fff;
    padding: 20px 0;
  }
}

@media (max-width: 767.98px) {
  .header .container nav .navbar .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 15px 0;
    margin: auto;
  }
}

@media (max-width: 767.98px) {
  .header .container nav .navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .header .container nav {
    display: none;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 767.98px) {
  .header {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
  }
}

.carousel {
  width: 100%;
  position: relative;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center center;
}

.carousel img {
  width: 100%;
}

.carousel .carousel__overlay {
  position: absolute;
  top: 20%;
  left: 70%;
  z-index: 2;
  color: #333;
  font-size: 4vw;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 4px;
  text-align: center;
  line-height: 7vw;
  background-color: transparent;
  padding: 0 20px;
}

.aboutMe {
  position: relative;
  margin: auto;
  top: -100px;
  width: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px black;
          box-shadow: 0px 10px 20px black;
  background-color: #fff;
}

.aboutMe .aboutMe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.aboutMe .aboutMe__container .aboutMe__container__avatar {
  margin: 20px;
  width: 40%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.aboutMe .aboutMe__container .aboutMe__container__avatar__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: inset 0 0 100px #0000007a;
          box-shadow: inset 0 0 100px #0000007a;
  border-radius: 50%;
}

.aboutMe .aboutMe__container .aboutMe__container__avatar img {
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  display: block;
  width: 100%;
}

@media (max-width: 767.98px) {
  .aboutMe .aboutMe__container .aboutMe__container__avatar {
    width: 100%;
  }
}

.aboutMe .aboutMe__container .aboutMe__container__content {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
}

.aboutMe .aboutMe__container .aboutMe__container__content .aboutMe__title {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #333;
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
}

@media (max-width: 575.98px) {
  .aboutMe .aboutMe__container .aboutMe__container__content .aboutMe__title {
    text-align: center;
  }
}

.aboutMe .aboutMe__container .aboutMe__container__content ul, .aboutMe .aboutMe__container .aboutMe__container__content p, .aboutMe .aboutMe__container .aboutMe__container__content a {
  line-height: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.aboutMe .aboutMe__container .aboutMe__container__content .downloadBtn {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  outline: none;
  background-color: #101010;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 20px;
  display: inline-block;
}

.aboutMe .aboutMe__container .aboutMe__container__content .downloadBtn:hover {
  background-color: #fff;
  color: #333;
  border: 2px solid #101010;
}

@media (max-width: 767.98px) {
  .aboutMe .aboutMe__container .aboutMe__container__content {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 17px;
    width: 100%;
  }
  .aboutMe .aboutMe__container .aboutMe__container__content .aboutMe__title {
    margin-bottom: 20px;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0;
  }
}

@media (max-width: 575.98px) {
  .aboutMe .aboutMe__container .aboutMe__container__content {
    padding-top: 0;
  }
}

@media (max-width: 575.98px) {
  .aboutMe .aboutMe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px;
  }
}

@media (max-width: 991.98px) {
  .aboutMe {
    width: 90%;
  }
}

.mySkill {
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url("https://images.unsplash.com/photo-1496664444929-8c75efb9546f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-attachment: fixed;
  position: relative;
}

.mySkill__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.mySkill .container {
  position: relative;
  z-index: 2;
}

.mySkill .container .mySkill__title {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.mySkill .container .mySkill__title::after {
  content: '';
  width: 250px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(white), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
  top: 100%;
}

.mySkill .container > p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
}

.mySkill .container .mySkill__list {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mySkill .container .mySkill__list .mySkill__list__item {
  margin-bottom: 20px;
}

.mySkill .container .mySkill__list .mySkill__list__item h1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
  margin-top: 10px;
}

.mySkill .container .mySkill__list .mySkill__list__item i {
  color: #fff;
}

@media (max-width: 767.98px) {
  .mySkill .container .mySkill__list .mySkill__list__item {
    width: 25%;
  }
}

@media (max-width: 575.98px) {
  .mySkill .container .mySkill__list .mySkill__list__item {
    width: 33.333%;
  }
}

.projects {
  padding: 50px 0;
  background-color: #fff;
}

.projects .projects__title {
  color: #333;
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.projects .projects__title::after {
  content: '';
  width: 250px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(white), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
  top: 100%;
}

.projects .projects__list {
  margin: 100px auto 50px auto;
  width: 100%;
  height: 23vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .projects__list .projects__list__item {
  width: 20%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.37);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.37);
  background-size: cover;
  cursor: pointer;
}

.projects .projects__list .projects__list__item:nth-child(1) {
  -webkit-transform: perspective(300px) translate3d(30%, 0, -50px) rotateY(10deg);
          transform: perspective(300px) translate3d(30%, 0, -50px) rotateY(10deg);
}

.projects .projects__list .projects__list__item:nth-child(2) {
  background-image: url("../img/project2.png");
  -webkit-transform: perspective(300px) translate3d(0px, 0, 0px) rotateY(10deg);
          transform: perspective(300px) translate3d(0px, 0, 0px) rotateY(10deg);
}

.projects .projects__list .projects__list__item:nth-child(3) {
  background-image: url("../img/project3.png");
  -webkit-transform: perspective(300px) translate3d(0px, 0, 50px);
          transform: perspective(300px) translate3d(0px, 0, 50px);
  z-index: 2;
}

.projects .projects__list .projects__list__item:nth-child(4) {
  background-image: url("../img/project4.png");
  -webkit-transform: perspective(300px) translate3d(0px, 0, 0px) rotateY(-10deg);
          transform: perspective(300px) translate3d(0px, 0, 0px) rotateY(-10deg);
  z-index: 1;
}

.projects .projects__list .projects__list__item:nth-child(5) {
  -webkit-transform: perspective(300px) translate3d(-30%, 0, -50px) rotateY(-10deg);
          transform: perspective(300px) translate3d(-30%, 0, -50px) rotateY(-10deg);
  z-index: 0;
}

.projects .projects__list .projects__list__item:nth-child(1), .projects .projects__list .projects__list__item:nth-child(5) {
  opacity: 0;
}

.projects .projects__list .projects__list__item .projects__item__overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.5)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0.7));
  opacity: 0;
}

.projects .projects__list .projects__list__item .projects__item__overlay::after {
  content: "";
  width: 80%;
  height: 90%;
  border: 1px solid white;
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 0;
}

@media (max-width: 991.98px) {
  .projects .projects__list .projects__list__item .projects__item__overlay::after {
    display: none;
  }
}

.projects .projects__list .projects__list__item .projects__item__overlay .projects__overlay__btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  z-index: 1;
}

.projects .projects__list .projects__list__item .projects__item__overlay .projects__overlay__btn:hover {
  background-color: #fff;
  color: black;
}

@media (max-width: 991.98px) {
  .projects .projects__list .projects__list__item .projects__item__overlay .projects__overlay__btn {
    background-color: #5aaceb;
  }
}

@media (max-width: 991.98px) {
  .projects .projects__list .projects__list__item .projects__item__overlay {
    opacity: 1;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin-top: auto;
  }
}

.projects .projects__list .projects__list__item:hover .projects__item__overlay {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 991.98px) {
  .projects .projects__list .projects__list__item {
    -webkit-transform: none;
            transform: none;
    width: 40%;
    margin: 3%;
    height: 250px;
    -webkit-transform: translate3d(0, 0, 0) rotateY(0) !important;
            transform: translate3d(0, 0, 0) rotateY(0) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .projects .projects__list .projects__list__item:nth-child(1), .projects .projects__list .projects__list__item:nth-child(5) {
    display: none;
  }
}

@media (max-width: 375px) {
  .projects .projects__list .projects__list__item {
    width: 94%;
    height: 150px;
  }
}

@media (max-width: 991.98px) {
  .projects .projects__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin-top: -3%;
    margin-top: 50px;
  }
}

.contact {
  position: relative;
  background-image: url("https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  height: 600px;
}

.contact .contact__overlay {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.contact .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 640px;
  height: 80%;
}

.contact .contact__container .contact__container__detail {
  text-align: center;
  width: 40%;
  height: 90%;
  line-height: 30px;
}

.contact .contact__container .contact__container__detail .contact__detail__overlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item {
  padding: 20px 0;
}

.contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item a, .contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item i {
  text-decoration: none;
  color: white;
  display: block;
}

@media (max-width: 767.98px) {
  .contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item a, .contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item i {
    display: inline;
  }
}

@media (max-width: 575.98px) {
  .contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item a, .contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item i {
    padding-bottom: 5px;
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  .contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item {
    padding: 0 0 0 20px;
  }
}

@media (max-width: 320px) {
  .contact .contact__container .contact__container__detail .contact__detail__overlay .contact__detail__overlay__item {
    padding: 0 0 0 5px;
  }
}

@media (max-width: 767.98px) {
  .contact .contact__container .contact__container__detail {
    width: 60%;
    height: 150px;
    text-align: left;
  }
}

.contact .contact__container .contact__container__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 0 40px;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
  background-color: white;
  height: 100%;
}

.contact .contact__container .contact__container__message form {
  width: 100%;
}

.contact .contact__container .contact__container__message form h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

@media (max-width: 767.98px) {
  .contact .contact__container .contact__container__message form h1 {
    padding-bottom: 10px;
    font-size: 25px;
  }
}

.contact .contact__container .contact__container__message form input, .contact .contact__container .contact__container__message form textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid #d1d0d0;
  width: 100%;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
}

.contact .contact__container .contact__container__message form input::-webkit-input-placeholder, .contact .contact__container .contact__container__message form textarea::-webkit-input-placeholder {
  color: #d1d0d0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}

.contact .contact__container .contact__container__message form input:-ms-input-placeholder, .contact .contact__container .contact__container__message form textarea:-ms-input-placeholder {
  color: #d1d0d0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}

.contact .contact__container .contact__container__message form input::-ms-input-placeholder, .contact .contact__container .contact__container__message form textarea::-ms-input-placeholder {
  color: #d1d0d0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}

.contact .contact__container .contact__container__message form input::placeholder, .contact .contact__container .contact__container__message form textarea::placeholder {
  color: #d1d0d0;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}

.contact .contact__container .contact__container__message form textarea {
  border: 1px solid #d1d0d0;
  padding-top: 5px;
  padding-left: 5px;
}

.contact .contact__container .contact__container__message form button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #5aaceb;
  color: white;
  outline: none;
  border: none;
  float: right;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .contact .contact__container .contact__container__message {
    width: 80%;
    padding: 20px 40px;
  }
}

@media (max-width: 767.98px) {
  .contact .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

footer {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 20px 0;
}
/*# sourceMappingURL=index.css.map */