@import "./mixin";
@import "./theme";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
   scroll-behavior: smooth;
}
  
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: $light;
}

.container {
    width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
      max-width: 540px;
  }
  
  @media (min-width: 768px) {
      max-width: 720px;
  }
  
  @media (min-width: 992px) {
      max-width: 960px;
  }
  
  @media (min-width: 1200px) {
      max-width: 1140px;
  }
}

.header {
    background-color: $white;
    width: 100%;
    z-index: 9;

    .container {
        @include flex (row, space-between, center);
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-image: $linearGradient;
            @include position(absolute, calc(100% - 2px), 0, 10);
        }

        h1 {
            @include Text($txtDark, $h3, $fwBold, 0px);
            padding: 20px 0;

            @media (max-width: 767.98px) {
                color: $txtWhite;
            }    
        }

        .nav__btn {
            display: none;
            color: $txtDark;

            @media (max-width: 767.98px) {
                display: block;
                @include position(absolute, 0, calc(100% - 40px), 10);
                color: $white;
            }
        }

    
        nav {
            .navbar {
                .navbar__container {
                    .navbar__link {
                        @include Text($txtGrey, $h4, $fwMedium, 2px);
                        text-transform: uppercase;
                        padding-left: 35px;
                        z-index: 10;
    
                        &:hover,
                        &.active {
                            color: $txtBlue;
                            font-weight: $fwBold;
                        }
    
                        @media (max-width: 767.98px) {
                            color: $txtWhite;
                            padding: 20px 0;
                        }
                    } 
                    
                    @media (max-width: 767.98px) {
                        @include flex (column, center, start);
                        padding: 15px 0;
                        margin: auto;
                    }
                }

                @media (max-width: 767.98px) {
                    width: 100%;
                    @include flex(row, center, center);
                }
            }

            @media (max-width: 767.98px) {
                display: none;
                width: 100%;
            }
        }

        @media (max-width: 767.98px) {
            @include flex (column, center, start);
        }
    }

    @media (max-width: 767.98px) {
        background-color: $black90;
        position: fixed;
    }
}

.carousel {
    width: 100%;
    position: relative;
    height: 600px;
    background-image: url('../img/carousel3.jpg');
    background-size: cover;
    background-position: center center;

    img {
        width: 100%;
    }

    .carousel__overlay {
        @include positionCenter;
        top: 40%;
        @include Text($txtWhite, 3vw, $fwMedium, 4px);
        text-align: center;
        line-height: 7vw;
        background-color: rgba(0, 0, 0, 0.7);

        @media (max-width: 767.98px) {
            
        }
    }
}

.aboutMe {
    position: relative;
    margin: auto;
    top: -100px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 10px 20px black;
    background-color: $white;

    .aboutMe__container {
        @include flex(row, center, center);
        flex-wrap: nowrap;
        width: 100%;

        .aboutMe__container__avatar {
            width: 40%;
            padding: 50px 20px;

            img {
                width: 100%;
                border-radius: 50%;
            }

            @media (max-width: 767.98px) {
                width: 100%;
                padding: 50px 50px;
            }
        }

        .aboutMe__container__content {
            width: 60%;
            box-sizing: border-box;
            padding: 0 20px;
            @include Text($txtGrey, $h4, $fwMedium, 1px);
            line-height: 20px;

            .aboutMe__title {
                margin-bottom: 30px;
                @include Text($txtDark, $h1, $fwMedium, 0);

                @media (max-width: 575.98px) {
                    text-align: center;
                }
            }

            @media (max-width: 767.98px) {
                @include Text($txtGrey, $h5, $fwMedium, 0px);
                line-height: 17px;
                width: 100%;

                .aboutMe__title {
                    margin-bottom: 20px;
                    @include Text($txtDark, $h2, $fwMedium, 0);
                }
            }

            @media (max-width: 575.98px) {
                padding: 50px;
                padding-top: 0;
            }
        }

        @media (max-width: 575.98px) {
            @include flex(column, center, center);
        }
    }

    @media (max-width: 991.98px) { 
        width: 90%
    }
}

.mySkill {
    padding-bottom: 50px;
    background-color: transparent;

    .mySkill__title {
        @include Text($txtDark, $h1, $fwMedium, 2px);
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        &::after {
            content: '';
            width: 250px;
            height: 3px;
           @include positionCenter;
             background-image: $linearGradient;
            top: 100%;
        }
    }

    
    & > p {
        @include Text($txtGrey, $h4, $fwMedium, 1px);
        text-align: center;
        margin-bottom: 50px;
    }

    .mySkill__list {
        width: 100%;
        text-align: center;
        @include flex(row, space-evenly, center);
        flex-wrap: wrap;

        .mySkill__list__item {
            margin-bottom: 20px;
                h1 {
                    @include Text($txtBlue, $h4, $fwMedium, 0);
                    margin-top: 10px
                }

            @media (max-width: 767.98px) {
                width: 33.33333%;
            }

            @media (max-width: 575.98px) {
                width: 50%;
            }
        }
    }
}

.projects {
    padding: 50px 0;
    background-color: $white;

    .projects__title {
        @include Text($txtDark, $h1, $fwMedium, 2px);
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        &::after {
            content: '';
            width: 250px;
            height: 3px;
           @include positionCenter;
             background-image: $linearGradient;
            top: 100%;
        }
    }

    .projects__list {
        margin: 100px auto 50px auto;
        width: 100%;
        height: 23vw;
        display: flex;

        .projects__list__item {
            width: 20%;
            height: 100%;
            background-color: white;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.37);
            background-size: cover;
            cursor: pointer;

            &:nth-child(1) {
                transform: perspective(300px) translate3d(30%, 0, -50px) rotateY(10deg);
            }

            &:nth-child(2) {
                background-image: url("../img/project2.png");
                transform: perspective(300px) translate3d(0px, 0, 0px) rotateY(10deg);
            }

            &:nth-child(3) {
                background-image: url("../img/project3.png");
                transform: perspective(300px) translate3d(0px, 0, 50px);
                z-index: 2;
            }

            &:nth-child(4) {
                background-image: url("../img/project4.png");
                transform: perspective(300px) translate3d(0px, 0, 0px) rotateY(-10deg);
                z-index: 1;
            }

            &:nth-child(5) {
                transform: perspective(300px) translate3d(-30%, 0, -50px) rotateY(-10deg);
                z-index: 0;
            }

            &:nth-child(1),
            &:nth-child(5) {
                opacity: 0;
            }

            .projects__item__overlay {
                position: relative;
                @include flex(column, center, center);
                width: 100%;
                height: 100%;
                background-image: linear-gradient(
                  to bottom,
                  rgba(128, 128, 128, 0.5),
                  rgba(0, 0, 0, 0.7)
                );
                opacity: 0;
                
                &::after {
                    content: "";
                    width: 80%;
                    height: 90%;
                    border: 1px solid white;

                    position: absolute;
                    top: 5%;
                    left: 10%;
                    z-index: 0;

                    @media (max-width: 991.98px) {
                        display: none;
                    }
                }
                .projects__overlay__btn {
                    width: 60px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    margin: 10px 0;

                    text-decoration: none;

                    color: white;
                    border: 1px solid white;
                    z-index: 1;

                    &:hover {
                        background-color: $white;
                        color: black;
                    }

                    @media (max-width: 991.98px) {
                        background-color: $lightBlue;
                    }
                }

                @media (max-width: 991.98px) {
                    opacity: 1;
                    background-color: transparent;
                    @include flex(row, space-around, center);
                    height: auto;
                    margin-top: auto;
                }
            }

            &:hover .projects__item__overlay {
                opacity: 1;
                transition: all 0.5s;
            }

            @media (max-width: 991.98px) {
                transform: none;
                width: 40%;
                margin: 3%;
                height: 250px;
                transform: translate3d(0,0,0) rotateY(0) !important;
                @include flex(row, center, end);

                &:nth-child(1),
                &:nth-child(5) {
                    display: none;
                }
            }

            @media (max-width: 375px) {
                width: 94%;
                height: 150px;
            }
        }

        @media (max-width: 991.98px) {
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            margin-top: -3% ;
            margin-top: 50px;
        }
    }
}

.contact {
    position: relative;
    background-image: url("../img/backgroundConatct.jpg");
    background-size: cover;
    height: 600px;

    .contact__overlay {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .contact__container {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;

        width: 640px;
        height: 80%;

        .contact__container__detail {
            text-align: center;
            width: 40%;
            height: 90%;
            line-height: 30px;

            .contact__detail__overlay {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.5);

                .contact__detail__overlay__item {
                    padding: 20px 0;

                    a, i {
                        text-decoration: none;
                        color: white;
                        display: block;
                        
                        @media (max-width: 767.98px) {
                            display: inline;
                        }

                        @media (max-width: 575.98px) {
                            padding-bottom: 5px;
                            font-size: 12px;
                        }
                    }

                    @media (max-width: 767.98px) {
                        padding: 0 0 0 20px;
                    }

                    @media (max-width: 320px) {
                        padding: 0 0 0 5px;
                    }
                }
            }

            @media (max-width: 767.98px) {
                width: 60%;
                height: 150px;
                text-align: left;
            }
        }

        .contact__container__message {
            @include flex (row, center, center);
            width: 60%;
            padding: 0 40px;
            box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
            background-color: white;
            height: 100%;

            form {
                width: 100%;

                h1 {
                    @include Text($txtGrey, $h3, $fwMedium, 2px);
                    padding-bottom: 30px;

                    @media (max-width: 767.98px) {
                        padding-bottom: 10px;
                        font-size: 25px;
                    }
                }

                input, textarea {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid rgb(209, 208, 208);
                    width: 100%;
                    margin-bottom: 30px;
                    @include Text($txtGrey, $h3, $fwLight, 2px);

                    &::placeholder {
                        @include Text(rgb(209, 208, 208), $h4, $fwLight, 2px);
                        font-family: "Josefin Sans", sans-serif;
                    }
                }

                textarea {
                    border: 1px solid rgb(209, 208, 208);
                    padding-top: 5px;
                    padding-left: 5px;
                }

                button {
                    padding: 10px 20px;
                    border-radius: 5px;
                    background-color: $lightBlue;
                    color: white;
                    outline: none;
                    border: none;
                    float: right;
                }
            }

            @media (max-width: 767.98px) {
                width: 80%;
                padding: 20px 40px;
            }
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
            width: 100%;
        }
    }
}

footer {
    text-align: center;
    padding: 20px 0;
}

